<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>{{ name }}</title>
  <link rel="stylesheet" href="../templates/style.css">
</head>
<body>

<a href="../index.html">ホームへ</a>

  <h1>{{ name }}</h1>
  <p><span class="hidden-reading">{{ name }}</span></p>
  <p>ジャンル：{{ genre }}</p>

  {% if cookpad_id %}
  <p>クックパッドレシピID：{{ cookpad_id }}</p>
  {% endif %}

  <h2>材料</h2>
  <ul>
    {% for item in materials.splitlines() %}
    <li>{{ item }}</li>
    {% endfor %}
  </ul>

  <h2>作り方</h2>
  <ol>
    {% for step in steps.splitlines() %}
    <li>{{ step }}</li>
    {% endfor %}
  </ol>

  <img src="../images/{{ image }}" onerror="this.src='../images/NO_NAME.jpg'">
</body>
</html>
